/* 整体布局 */
.logo {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.user {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.sectionInner {
  height: 100vh;
}
.layoutContent {
  padding: 32px;
}
/* 审核列表 */
.tableWrap {
  margin-top: 8px;
  overflow: auto;
  height: 500px;
}

/* 详情 */
.bgImg{
  width: 81vw;
  height: 77vh; 
  margin-left: -3px;
  border-radius: 8px;
  position: fixed;
  opacity: 0.2;
}

.details {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.rightBox{
  margin-left: 15px;
  width: 50%;
}
.detailsTitle {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.detailsTitleText {
  font-weight: 500;
}
.detailsImg {
  margin-top: 20px;
}
.detailsContent {
  width: 99%;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}
.detailsContentText {
  height: 200px;
  font-weight: 500;
  text-indent: 2em;
  overflow: auto;
  margin-top: 20px;
  max-height: 400px;
  text-align: justify;
  border: 1px solid #e6dada;
  border-radius: 5px;
}
