.logo {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.user {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.sectionInner{
  height: 100vh;
}
.layoutContent{
  padding: 32px;
}

.tableWrap{
  overflow: auto;
  height: 500px;
}
