.logo {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.user {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.layoutContent{
  padding: 32px;
}
.content{
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
}
.tableWrap{
  overflow: auto;
  height: 500px;
}
