.body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30rpx;
        width: 100%;
        background-image: url("https://th.bing.com/th/id/R.0fee376982dced67bfb0eff96523085e?rik=b4ojbn64GHUG3w&riu=http%3a%2f%2fimage.hnol.net%2fc%2f2008-05%2f01%2f23%2f20080501230532125447-1752266.jpg&ehk=RK80R4gGofg5H2t63UUq4b3oENF3LL%2bJjU312T3SJhU%3d&risl=&pid=ImgRaw&r=0");
        background-size: cover;
        background-position: center;
        .out{
            margin-left: auto;
            margin-bottom: auto;
        }

        .avatarUrl {
            width: 200rpx;
            height: 200rpx;
            border-radius: 50%;
        }

        .username {
            color: rgb(29, 28, 28);
            margin-top: 20rpx;
        }
    }




}