.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120rpx;

    .container0 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50rpx;

        .logo {
            width: 400rpx;
            height: 300rpx;
            border-radius: 50px;

        }

        .logoTxt {
            font-size: 15px;
            margin-top: 8px;
            color: green;

        }
    }
    .container {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin-top: 100rpx;

        .input {
            width: 100%;
            border-bottom: 2rpx solid #aaaaaa;
            margin-top: 60rpx;
        }
        
        .toregister {
            margin-right: auto;
            color: rgb(25, 137, 250);
            margin-top: 30rpx;
        }
        
        .login-btn {
            width: 80%;
            margin-top: 80rpx;
            border-radius: 40rpx;
        }
    }
}








