.body {
    width: 780rpx;
    border-bottom: 0.5px solid rgb(245, 241, 241);
    padding-bottom: 10rpx;

    .item {
        width: 100%;
        display: flex;
        padding: 10rpx;
        margin: 20rpx;

        .image {
            width: 300rpx;
            height: 250rpx;
            min-width: 10rpx;
            border-radius: 20rpx;
        }

        .content {
            display: flex;
            max-width: 400rpx;
            flex-direction: column;
            margin-left: 10rpx;
            justify-content: flex-start;

            .title {
                font-size: 20px;
                padding: 10rpx;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .desc {
                max-width: 400rpx;
                color: #666;
                font-size: 18px;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                padding: 10rpx;
                text-indent: 2em;
            }
          
        }
    }



    .button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: -15rpx 40rpx 15rpx;
        box-sizing: border-box;
        width: 300rpx;
        .edit {
            margin: 5rpx 8rpx 5rpx 2rpx;
            color: rgb(39, 109, 66);
        }
        .delete {
            margin: 5rpx;
            color: rgb(161, 82, 82);
        }  
        
    }
    .review {
        max-width: 400rpx;
        min-height: 60rpx; 
        margin: -70rpx 5rpx 0 360rpx; 
        font-size: 14px;
      }

  

}